<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976037140960-tjmtqf24dj8k9jgkl20hcn343ul9psph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976037140960-tjmtqf24dj8k9jgkl20hcn343ul9psph</string>
	<key>API_KEY</key>
	<string>AIzaSyAX3w_brDRPgX-_bemvTof3wfd3yxQzMNs</string>
	<key>GCM_SENDER_ID</key>
	<string>976037140960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileplatform10</string>
	<key>PROJECT_ID</key>
	<string>mobileplatform10</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileplatform10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976037140960:ios:5b98ee488398479ba37385</string>
</dict>
</plist>